<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726177085354-924vhb50c1ekq6vkbgogmse2h7b11j37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726177085354-924vhb50c1ekq6vkbgogmse2h7b11j37</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_Tdd3gL4SZfcDTBeVe7WowjSJr3QdmI</string>
	<key>GCM_SENDER_ID</key>
	<string>726177085354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barisdilekci.To-do</string>
	<key>PROJECT_ID</key>
	<string>to-do-bcdd0</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-bcdd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726177085354:ios:e4d3d2d363454b89075dd3</string>
</dict>
</plist>